@media (max-width:950px) {

    .main-layout {
        display: grid;
    }

    .main-nav {
        position: sticky;
    }

    .search-input {
        position: relative;
    
        width: 130px;
        height: 2.5em;
        margin: 10px;
    }

    .input-search-icon {
        position: absolute;
        width: 20px;
        left: 125px;
    }

    .frequent-keywords {
        gap:10px;
    }

    .canvas-container {
        position: relative;
        margin-inline: auto;
        top: 28vh;
        min-height: 20vh;
        height: 80px;
        padding: 20px;
    }

    /* .gallery-footer {
        opacity:0;
    } */

    .meme-edit-container {
        position: absolute;
        transform: translateY(120%);

        min-height: 20vh;
        min-width: 90vw;
        margin-inline: 50px;
        padding-inline: 0;
    }

    footer {
        position: fixed;
    }
}